-- MariaDB dump 10.18  Distrib 10.4.17-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: educonnect
-- ------------------------------------------------------
-- Server version	10.4.17-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `assignment`
--

DROP TABLE IF EXISTS `assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignment` (
  `assignmentId` varchar(20) NOT NULL,
  `coursecode` varchar(20) NOT NULL,
  `title` tinytext NOT NULL,
  `data` text DEFAULT NULL,
  `provideddate` date NOT NULL,
  `submissiondate` date DEFAULT NULL,
  `providedBy` varchar(20) NOT NULL,
  PRIMARY KEY (`assignmentId`),
  KEY `coursecode` (`coursecode`),
  KEY `providedBy` (`providedBy`),
  CONSTRAINT `assignment_ibfk_1` FOREIGN KEY (`coursecode`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `assignment_ibfk_2` FOREIGN KEY (`providedBy`) REFERENCES `professor` (`professorId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignment`
--

LOCK TABLES `assignment` WRITE;
/*!40000 ALTER TABLE `assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assignmentattachment`
--

DROP TABLE IF EXISTS `assignmentattachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignmentattachment` (
  `fileId` varchar(20) NOT NULL,
  `assingmentId` varchar(20) NOT NULL,
  `fileName` varchar(63) NOT NULL,
  PRIMARY KEY (`fileId`),
  KEY `FOREIGN KEY` (`assingmentId`),
  CONSTRAINT `FOREIGN KEY` FOREIGN KEY (`assingmentId`) REFERENCES `assignment` (`assignmentId`) ON DELETE CASCADE ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignmentattachment`
--

LOCK TABLES `assignmentattachment` WRITE;
/*!40000 ALTER TABLE `assignmentattachment` DISABLE KEYS */;
/*!40000 ALTER TABLE `assignmentattachment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `branch`
--

DROP TABLE IF EXISTS `branch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `branch` (
  `branchId` int(11) NOT NULL,
  `branchName` varchar(63) NOT NULL,
  `supervisor` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`branchId`),
  KEY `supervisor` (`supervisor`),
  CONSTRAINT `branch_ibfk_1` FOREIGN KEY (`supervisor`) REFERENCES `professor` (`professorId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `branch`
--

LOCK TABLES `branch` WRITE;
/*!40000 ALTER TABLE `branch` DISABLE KEYS */;
INSERT INTO `branch` VALUES (1,'Architectural Assistantship',NULL),(2,'Interior Design',NULL),(3,'Civil Engineering',NULL),(4,'Advanced Dip. In Food Technology',NULL),(5,'Computer Engineering',NULL),(6,'Electronics Engineering',NULL),(7,'Electrical Engineering',NULL),(8,'Instrumentation & Control',NULL),(9,'Leather & Footwear Technology',NULL),(10,'Mechanical Engineering',NULL);
/*!40000 ALTER TABLE `branch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `course` (
  `coursecode` varchar(20) NOT NULL,
  `coursename` varchar(63) NOT NULL,
  `course_type` varchar(15) NOT NULL,
  `branchid` int(11) NOT NULL,
  `semester` int(11) NOT NULL,
  PRIMARY KEY (`coursecode`),
  KEY `branchid` (`branchid`),
  KEY `semester` (`semester`),
  CONSTRAINT `course_ibfk_1` FOREIGN KEY (`branchid`) REFERENCES `branch` (`branchId`),
  CONSTRAINT `course_ibfk_2` FOREIGN KEY (`semester`) REFERENCES `semester` (`semesterId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lectureattachment`
--

DROP TABLE IF EXISTS `lectureattachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lectureattachment` (
  `fileId` varchar(20) NOT NULL,
  `lectureId` varchar(20) NOT NULL,
  `fileName` varchar(63) NOT NULL,
  PRIMARY KEY (`fileId`),
  KEY `lectureId` (`lectureId`),
  CONSTRAINT `lectureattachment_ibfk_1` FOREIGN KEY (`lectureId`) REFERENCES `lecturenotes` (`lectureId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lectureattachment`
--

LOCK TABLES `lectureattachment` WRITE;
/*!40000 ALTER TABLE `lectureattachment` DISABLE KEYS */;
/*!40000 ALTER TABLE `lectureattachment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecturenotes`
--

DROP TABLE IF EXISTS `lecturenotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lecturenotes` (
  `lectureId` varchar(20) NOT NULL,
  `coursecode` varchar(20) NOT NULL,
  `title` tinytext NOT NULL,
  `data` text DEFAULT NULL,
  `provideddate` date NOT NULL,
  `providedBy` varchar(20) NOT NULL,
  PRIMARY KEY (`lectureId`),
  KEY `coursecode` (`coursecode`),
  KEY `providedBy` (`providedBy`),
  CONSTRAINT `lecturenotes_ibfk_1` FOREIGN KEY (`coursecode`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `lecturenotes_ibfk_2` FOREIGN KEY (`providedBy`) REFERENCES `professor` (`professorId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecturenotes`
--

LOCK TABLES `lecturenotes` WRITE;
/*!40000 ALTER TABLE `lecturenotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `lecturenotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `professor`
--

DROP TABLE IF EXISTS `professor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `professor` (
  `professorId` varchar(20) NOT NULL,
  `name` char(31) NOT NULL,
  `qualification` varchar(31) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `joindate` date NOT NULL,
  `emailId` varchar(63) NOT NULL,
  `password` varchar(255) NOT NULL,
  `profilepic` varchar(63) DEFAULT NULL,
  PRIMARY KEY (`professorId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `professor`
--

LOCK TABLES `professor` WRITE;
/*!40000 ALTER TABLE `professor` DISABLE KEYS */;
/*!40000 ALTER TABLE `professor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `professorphone`
--

DROP TABLE IF EXISTS `professorphone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `professorphone` (
  `professorId` varchar(20) NOT NULL,
  `phone` varchar(15) NOT NULL,
  PRIMARY KEY (`professorId`,`phone`),
  CONSTRAINT `professorphone_ibfk_1` FOREIGN KEY (`professorId`) REFERENCES `professor` (`professorId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `professorphone`
--

LOCK TABLES `professorphone` WRITE;
/*!40000 ALTER TABLE `professorphone` DISABLE KEYS */;
/*!40000 ALTER TABLE `professorphone` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `professorteaches`
--

DROP TABLE IF EXISTS `professorteaches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `professorteaches` (
  `coursecode` varchar(20) NOT NULL,
  `professorId` varchar(20) NOT NULL,
  PRIMARY KEY (`coursecode`,`professorId`),
  KEY `professorId` (`professorId`),
  CONSTRAINT `professorteaches_ibfk_1` FOREIGN KEY (`coursecode`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `professorteaches_ibfk_2` FOREIGN KEY (`professorId`) REFERENCES `professor` (`professorId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `professorteaches`
--

LOCK TABLES `professorteaches` WRITE;
/*!40000 ALTER TABLE `professorteaches` DISABLE KEYS */;
/*!40000 ALTER TABLE `professorteaches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule`
--

DROP TABLE IF EXISTS `schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule` (
  `branchId` int(11) NOT NULL,
  `semesterId` int(11) NOT NULL,
  `day` int(11) NOT NULL,
  `1st` varchar(20) DEFAULT NULL,
  `2nd` varchar(20) DEFAULT NULL,
  `3rd` varchar(20) DEFAULT NULL,
  `4th` varchar(20) DEFAULT NULL,
  `5th` varchar(20) DEFAULT NULL,
  `6th` varchar(20) DEFAULT NULL,
  `7th` varchar(20) DEFAULT NULL,
  `8th` varchar(20) DEFAULT NULL,
  `9th` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`branchId`,`semesterId`,`day`),
  KEY `semesterId` (`semesterId`),
  KEY `1st` (`1st`),
  KEY `2nd` (`2nd`),
  KEY `3rd` (`3rd`),
  KEY `4th` (`4th`),
  KEY `5th` (`5th`),
  KEY `6th` (`6th`),
  KEY `7th` (`7th`),
  KEY `8th` (`8th`),
  KEY `9th` (`9th`),
  CONSTRAINT `schedule_ibfk_1` FOREIGN KEY (`branchId`) REFERENCES `branch` (`branchId`),
  CONSTRAINT `schedule_ibfk_10` FOREIGN KEY (`8th`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_11` FOREIGN KEY (`9th`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_2` FOREIGN KEY (`semesterId`) REFERENCES `semester` (`semesterId`),
  CONSTRAINT `schedule_ibfk_3` FOREIGN KEY (`1st`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_4` FOREIGN KEY (`2nd`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_5` FOREIGN KEY (`3rd`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_6` FOREIGN KEY (`4th`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_7` FOREIGN KEY (`5th`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_8` FOREIGN KEY (`6th`) REFERENCES `course` (`coursecode`),
  CONSTRAINT `schedule_ibfk_9` FOREIGN KEY (`7th`) REFERENCES `course` (`coursecode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule`
--

LOCK TABLES `schedule` WRITE;
/*!40000 ALTER TABLE `schedule` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semester`
--

DROP TABLE IF EXISTS `semester`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `semester` (
  `semesterId` int(11) NOT NULL,
  PRIMARY KEY (`semesterId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semester`
--

LOCK TABLES `semester` WRITE;
/*!40000 ALTER TABLE `semester` DISABLE KEYS */;
INSERT INTO `semester` VALUES (1),(2),(3),(4),(5),(6);
/*!40000 ALTER TABLE `semester` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student` (
  `enrollment` varchar(20) NOT NULL,
  `facultyNo` varchar(20) NOT NULL,
  `name` char(31) NOT NULL,
  `fathersName` char(31) NOT NULL,
  `emailId` varchar(63) NOT NULL,
  `dateOfBirth` date NOT NULL,
  `password` varchar(255) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `joinDate` date NOT NULL,
  `branch` int(11) NOT NULL,
  `semester` int(11) NOT NULL,
  `profilepic` varchar(63) DEFAULT NULL,
  PRIMARY KEY (`enrollment`),
  KEY `branch` (`branch`),
  KEY `semester` (`semester`),
  CONSTRAINT `student_ibfk_1` FOREIGN KEY (`branch`) REFERENCES `branch` (`branchId`),
  CONSTRAINT `student_ibfk_2` FOREIGN KEY (`semester`) REFERENCES `semester` (`semesterId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentassignedcourses`
--

DROP TABLE IF EXISTS `studentassignedcourses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentassignedcourses` (
  `enrollment` varchar(20) NOT NULL,
  `coursecode` varchar(20) NOT NULL,
  PRIMARY KEY (`enrollment`,`coursecode`),
  KEY `coursecode` (`coursecode`),
  CONSTRAINT `studentassignedcourses_ibfk_1` FOREIGN KEY (`enrollment`) REFERENCES `student` (`enrollment`),
  CONSTRAINT `studentassignedcourses_ibfk_2` FOREIGN KEY (`coursecode`) REFERENCES `course` (`coursecode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentassignedcourses`
--

LOCK TABLES `studentassignedcourses` WRITE;
/*!40000 ALTER TABLE `studentassignedcourses` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentassignedcourses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentphone`
--

DROP TABLE IF EXISTS `studentphone`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `studentphone` (
  `enrollment` varchar(20) NOT NULL,
  `phone` varchar(15) NOT NULL,
  PRIMARY KEY (`enrollment`,`phone`),
  CONSTRAINT `studentphone_ibfk_1` FOREIGN KEY (`enrollment`) REFERENCES `student` (`enrollment`) ON DELETE CASCADE ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentphone`
--

LOCK TABLES `studentphone` WRITE;
/*!40000 ALTER TABLE `studentphone` DISABLE KEYS */;
INSERT INTO `studentphone` VALUES ('GH3548','+912342342343'),('GI6229','+917078089719'),('GJ4389','0853 282 0931'),('GJ8943','+914928374289'),('GJ9434','9330795314'),('GJ9697','0853 282 0931'),('GJ9698','08765423243'),('GK4738','+914324233423'),('GL4387','+914829348239');
/*!40000 ALTER TABLE `studentphone` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-03-13 18:04:45
